body {
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 1pt;
  margin: 0;
}

.button {
  background-color: green;
  padding: 15px;
}

#button-clr {
  background-color: red;
}

.animate {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

canvas {
  display: block;
  /*background-color: green;*/
  height: 90vh;
  width: 100vw;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
    padding: 20px;
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}